.ham-icon {
    position: absolute;
    top: 1vh;
    left: 10px;
    height: 50px;
    width: 50px;
    transition: all 500ms ease-out;
}

.ham-icon:hover {
    filter: drop-shadow(0px 0px 2px red);
    transition: all 250ms ease-in;
}

.ham-container {
    position: absolute ;
    display: flex;
    flex-direction: column;
    top: 8vh;
    width: 0px;
    height: 90vh;
    background-color: black;
    border-right: 5px solid #149414;
    border-top: 5px solid #149414;
    border-bottom: 5px solid #149414;
}

.ham-container div {
    padding: 5px 0 5px 3px ;
}

.ham-container > div > a {
    color: rgb(58, 58, 58);
    font-size: 30px;
    transition: color 500ms ease-out;
}

.ham-container div a:hover {
    color: red !important;
    transition: all 250ms ease-in;
}

.float-top:nth-of-type(6) {
    margin-bottom: auto;
}

.float-bot {
    order: 2;
}

.float-bot > a {
    font-size: 20px !important;
}