html, body {
    background-color: #454545;
    font-family: 'Courier New', Courier, monospace;
    color: #149414;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 50000s;
    -webkit-text-fill-color: #149414 !important;
}

.table {
    overflow: scroll;
}

.head-cell {
    border: 1px solid #149414;
    padding: 10px;
    font-weight: bold;
}

.cell {
    border: 1px solid #149414;
    padding: 10px;
}

table::-webkit-scrollbar {
    display: none;
}

.center-grid-page {
    display: grid;
    grid-template-columns: auto 75vw auto;
    grid-template-rows: auto 65vh auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.full-page-grid-page {
    display: grid;
    grid-template-columns: auto 75vw auto;
    grid-template-rows: auto 80vh auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.center-block {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 5px solid #149414;
    background-color: black;
    overflow: scroll;
}

.center-block::-webkit-scrollbar {
    display: none;
}

.center-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:37.5% 25% auto;
    grid-template-rows: 30% 35% auto;
}

.center-grid-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 40% auto;
}

.header-content {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.center-grid-history {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 10% 10% auto;
}

.table-history {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-history {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 110%;
}

.text-style {
    margin: 10px;
    text-align: right;
}

.logo {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

input[type = "text"], input[type = "password"] {
    background-color: #0E6B0EB2;
    border: 2px solid #149414;
    color: #149414;
    font-family: 'Courier New', Courier, monospace;
}

.placeholders {
    clear: both;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholders-style {
    margin: 4px;
    color: #0E6B0EB2
}

input::placeholder {
    color: transparent;
    text-align: center;
}

.button {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button-style {
    margin-right: 4%;
    margin-left: 4%; 
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #149414;
    color: #149414;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    min-width: 20%;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}

.button-style:hover {
    color: #000000;
    cursor: pointer;
}

.button-style:before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #149414;
}

.button-style:hover:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

#map
{
    position: fixed !important; 
    height: 100% !important;
    width: 100% !important;
}

.textarea-style {
    background: #0E6B0EB2;
    color: #149414;
    text-align: center;
}

@media (max-width: 900px) {
    .center-grid-page {
        display: grid;
        grid-template-columns: auto 85vw auto;
        grid-template-rows: auto 80vh auto;
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .center-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:auto 90% auto;
        grid-template-rows: 20% 50% auto;
    }

    .header {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 250%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .text {
        display: none;
    }

    .placeholders {
        clear: both;
        padding: 5px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input::placeholder {
        color: #149414;
        text-align: center;
    }

    .button {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .logo {
        display: none;
    }

    .placeholders-style {
        margin: 5px;
        padding: 10px;
    }

    .button-style {
        background-color: black;
        font-family: 'Courier New', Courier, monospace;
        border: 2px solid #149414;
        color: #149414;
        font-weight: bold;
        text-align: center;
        font-size: 110%;
    }

    .button-style:hover {
        background-color: #0E6B0EB2;
    }
}