html, body {
    background-color: #454545;
    font-family: 'Courier New', Courier, monospace;
    color: #149414;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.grid-style {
    display: grid;
    grid-template-columns: auto 75vw auto;
    grid-template-rows: auto 65vh auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.center-block {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 5px solid #149414;
    background-color: black;
}

.center-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:37.5% 25% auto;
    grid-template-rows: 30% 35% auto;
}

.header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 110%;
}

.text-style {
    margin: 10px;
    text-align: right;
}

.logo {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

input[type = "text"], input[type = "password"] {
    background-color: #0E6B0EB2;
    border: 2px solid #149414;
    color: #149414;
    font-family: 'Courier New', Courier, monospace;
}

.placeholders {
    clear: both;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholders-style {
    margin: 4px;
    color: #0E6B0EB2
}

input::placeholder {
    color: transparent;
    text-align: center;
}

.button {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button-style {
    margin-right: 4%;
    margin-left: 4%; 
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #149414;
    color: #149414;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    min-width: 20%;
}

@media (max-width: 900px) {
    .grid-style {
        display: grid;
        grid-template-columns: auto 80vw auto;
        grid-template-rows: auto 80vh auto;
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .center-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:auto 90% auto;
        grid-template-rows: 20% 50% auto;
    }

    .header {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 250%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .text {
        display: none;
    }

    .placeholders {
        clear: both;
        padding: 5px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input::placeholder {
        color: #149414;
        text-align: center;
    }

    .button {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .logo {
        display: none;
    }

    .placeholders-style {
        margin: 5px;
        padding: 10px;
    }

    .button-style {
        background-color: black;
        font-family: 'Courier New', Courier, monospace;
        border: 2px solid #149414;
        color: #149414;
        font-weight: bold;
        text-align: center;
        font-size: 110%;
    }
}